################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LightController/bin/Debug
/LightController.Service/bin/Debug
/LightController.Service/obj/Debug
/LightController/obj/Debug
